
}
#header {color:blue;}
body {
  background-image: url("high-rise-buildings-during-nighttime-1366957.jpg");
  background-repeat: no-repeat;
  background-size: 1855px 930px;
}
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

 #size {font-size: 40px;}


h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}